// Mobile < 640px
// Table < 1024px
// Desktop > 1024px


// Init Setting

body {
  overflow-x: hidden;
}

*, *::before, *::after {
  margin: 0;
  box-sizing: border-box;
}

img {
  display: inline-block;
  max-width: 100%;
  width: 100%;
  height: auto;
  vertical-align: top;
  object-fit: contain;
}

@media (max-width: 639px) {
  .desktop, .tablet {
    display: none;
  }
  .header {
    height: 60px;

    img {
      width: 94px;
    }
  }
  .section1 {
    padding-top: 60px;
  }
}

@media (min-width: 640px) and (max-width: 1023px) {
  .desktop, .mobile {
    display: none;
  }
  .header {
    height: 70px;

    img {
      width: 125px;
    }
  }
  .section1 {
    padding-top: 70px;
  }
}

@media (min-width: 1024px) {
  .section {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .container {
    max-width: 1920px;
  }
  .tablet, .mobile {
    display: none;
  }
  .header {
    height: 60px;

    img {
      width: 120px;
    }
  }
  .section1 {
    padding-top: 60px;
  }
}


.header {
  background-color: #fff;
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 3;

  .logo {
    width: 1260px;
    margin: 0 auto;
    padding: 20px;
  }
}

.container {
  position: relative;
}

.section1 {
  background-color: #d71b26;
}

.section3 {
  background-color: #f2f1f1;

  .app {
    width: 63.54166666666667%;
    bottom: 10%;
    @media screen and (max-width: 639px) {
      // Mobile
      width: 100%;
    }
    @media screen and (min-width: 640px) and (max-width: 1023px) {
      // Tablet
      width: 100%;
    }
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}

.section5 {
  background-color: #f2f1f1;
}

.section6 {
  background-color: #414141;
}